<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost" />
    <add key="DB" value="rumah_scarlett_dev" />
    <add key="User" value="root" />
    <add key="Password" value="" />
    <add key="Nama" value="Toko Tokoan" />
    <add key="Alamat_1" value="Alamat 1" />
    <add key="Alamat_2" value="Alamat 2" />
    <add key="Telpon" value="+62 812 3456 7890" />
    <add key="Kota" value="Kota Kotaan" />
    <add key="Warna_Background_Strip" value="67,78,84" />
    <add key="Warna_Teks_Strip" value="240,240,240" />
    <add key="Warna_Baris_Genap" value="240,248,255" />
    <add key="Warna_Baris_Ganjil" value="255,255,255" />
    <add key="Dockpanel_Theme" value="0" />
    <add key="Path_Backround" value="" />
    <add key="Tipe_Printer" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.1.0" newVersion="3.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>